/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url("las.jpg");
  color: #242019;
  line-height: 1;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.welcome-text {
  font-size: 24px;
  text-align: center;
  width: 100%;
}

/* Header styles */
header {
  background-color: #ffc400;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.logo {
  height: 150px;
  vertical-align: middle;
  margin-right: 60px;
}

.nav-bar {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.nav-item {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  transition: background-color 0.3s;
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

.nav-item:not(:last-child) {
  margin-right: 10px;
}

.nav-item:hover {
  background-color: #ffffff;
  border-color: rgb(255, 251, 0);
}

/* Hero section styles */
.hero {
  text-align: center;
  padding: 50px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-image: url("las.jpg");

  background-size: auto;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  bottom: 20px;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("las.jpg");
  background-size: cover;
}

.hero h1 {
  color: white;
  position: relative;
  z-index: 1;
}

.hero h2 {
  color: #777;
}

/* Headquarters section styles */
#headquarters-section {
  padding: 50px;
  text-align: center;
  background-color: #ffc400;
  background-image: url("revouL..png");
  background-position: center;
  background-size: cover;
}

.headquarters-image {
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.headquarters-image-container {
  margin: 0 10px;
  transition: transform 0.3s;
}

.headquarters-image {
  height: 150px;
  width: 150px;
  border-radius: 150%;
  margin-bottom: 10px;
}

.headquarters-image-container p {
  margin-top: 100px;
  font-weight: bold;
}

.headquarters-image-container:hover {
  transform: translateY(-80px);
}

#message-us-section {
  background-color: white;
  background-image: url("las.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
  display: flex;
  justify-content: space-between;
}

#message-us-section form {
  width: 60%;
}

#message-us-section form table {
  width: 100%;
}

#message-us-section form td {
  padding: 15px;
}

#message-us-section form input[type="text"],
#message-us-section form textarea {
  width: 100%;
  padding: 5px;
}

#message-us-section form input[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.form-output {
  background-color: #ffc400;
  padding: 20px;
  border: 1px solid #ccc;
  width: 40%;
  display: none;
}

.form-output h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-output div {
  margin-bottom: 10px;
}

.form-output label {
  font-weight: bold;
  margin-right: 5px;
}

footer {
  background-color: #333;
  color: white;
  padding: 0px;
  text-align: right;
}
